.main {
  display: flex;
  justify-content: space-between;
}

.text-area {
  width: 50%;
  height: 700px;
}

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

